<div class="jumbotron">
  <h1>Bloccit</h1>
  <p class= "cover-text"> <strong> Bloccit is a resource for sharing links with your friends!</strong></p>
  <p class= "cover-text">
    <strong> <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path%> today! </strong>
  </p>
</div>
<div class="row">
  <div class="col">
  <h2 class="uses"> why Bloccit?</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2><span class="icon ion-clock"></span> Official Time Waster </h2>
    <p>The Internet home of Cat Memes and RT propaganda.</p>
  </div>
  <div class="col-md-4">
    <h2><span class="icon ion-headphone"></span> Eliminates civility</h2>
    <p>You may wanna make use of those trusty earmuffs.</p>
  </div>
  <div class="col-md-4">
    <h2><span class="icon ion-university"></span> Makes you smarter</h2>
    <p>...as long as you only communicate with those whom already share your opinion</p>
  </div>
